
  @font-face {
    font-family: 'Runescape';
    src: local('Runescape'), url(./font/runescape.woff2) format('woff2'),
         local('Runescape'), url(./font/runescape.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: 'Runescape Chat';
    src: local('Runescape-Chat'), url(./font/runescape-chat.woff2) format('woff2'),
         local('Runescape-Chat'), url(./font/runescape-chat.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Runescape Chat Bold';
    src: local('Runescape-Chat-Bold'), url(./font/runescape-chat-bold.woff2) format('woff2'),
         local('Runescape-Chat-Bold'), url(./font/runescape-chat-bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Runescape NPC Chat';
    src: local('Runescape-NPC-Chat'), url(./font/runescape-npc-chat.woff2) format('woff2'),
         local('Runescape-NPC-Chat'), url(./font/runescape-npc-chat.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


.App {
  text-align: center;
  font-family: 'Runescape';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Runescape';
  user-select: none;
}